               .header {
                       height: var(--header-height);
                       background-image: linear-gradient(0, #fe6433, #f53e2d);
                   }
                   
                   .header__navbar {
                       display: flex;
                       justify-content: space-between;
                       text-decoration: none
                   }
                   
                   .header__navbar-list {
                       display: flex;
                       list-style: none;
                       padding-left: 0;
                       margin: 4px 0 0 0;
                   }
                   
                   .header__navbar-item {
                       margin: 0 8px;
                       position: relative;
                       min-height: 26px;
                   }
                   
                   .header__navbar-user {
                       display: flex;
                       justify-content: center;
                       position: relative;
                   }
                   
                   .header__navbar-user-img {
                       width: 22px;
                       height: 22px;
                       border-radius: 50%;
                       border: 1px solid rgba(0, 0, 0, 0.2);
                   }
                   
                   .header__navbar-user-Name {
                       margin-left: 4px;
                       font-weight: 400;
                       font-size: 1.4rem;
                   }
                   
                   .header__navbar-user-menu {
                       display: none;
                       padding-left: 0;
                       top: calc(100% + 6px);
                       right: -24px;
                       width: 160px;
                       z-index: 5;
                       transform-origin: 80% top;
                       animation: Growthin ease-in 0.3s;
                       position: absolute;
                       border-radius: 2px;
                       background-color: var(--white-color);
                       box-shadow: 0 1px 2px #cec8c8;
                   }
                   
                   .header__navbar-user:hover .header__navbar-user-menu {
                       display: block;
                   }
                   
                   .header__navbar-user-menu::after {
                       content: "";
                       display: block;
                       position: absolute;
                       width: 65%;
                       height: 15px;
                       top: -15px;
                       right: 0;
                       background-color: transparent;
                   }
                   
                   .header__navbar-user-menu::before {
                       content: "";
                       position: absolute;
                       border: solid;
                       border-width: 12px 15px;
                       border-color: transparent transparent var(--white-color) transparent;
                       top: -22px;
                       right: 33px;
                   }
                   
                   .header__navbar-user-menu-item {
                       list-style: none;
                   }
                   
                   .header__navbar-user-menu-item a:hover {
                       background-color: #fafafa;
                   }
                   
                   .header__navbar-user-menu-item a {
                       text-decoration: none;
                       color: var(--text-color);
                       font-size: 1.4rem;
                       padding: 8px 16px;
                       display: block;
                   }
                   
                   .header__navbar-user-menu-item a:last-child,
                   .header__navbar-user-menu-item a:first-child {
                       border-radius: 2px;
                   }
                   
                   .header__navbar-item,
                   .header__navbar-item-link {
                       display: inline-block;
                       font-size: 1.3rem;
                       color: var(--white-color);
                       text-decoration: none;
                       font-weight: 300;
                   }
                   
                   .header__navbar-item,
                   .header__navbar-item-link {
                       display: flex;
                       align-items: center;
                   }
                   
                   .header__navbar-item:hover,
                   .header__navbar-icon-link:hover,
                   .header__navbar-item-link:hover {
                       color: rgba(255, 255, 255, 0.7);
                       cursor: pointer;
                   }
                   
                   .header__navbar-item--strong {
                       font-weight: 400;
                   }
                   
                   .header__navbar-item--separate::after {
                       content: "";
                       display: block;
                       position: absolute;
                       border-left: 1px solid #FB9086;
                       height: 1.6rem;
                       top: 50%;
                       right: -9px;
                       transform: translateY(-50%);
                   }
                   
                   .header__navbar-icon-link {
                       text-decoration: none;
                       color: var(--white-color);
                   }
                   
                   .header__navbar-icon-link:nth-child(2) {
                       margin-left: 3px;
                   }
                   
                   .header__navbar-icon {
                       font-size: 1.9rem;
                       margin: 0 4px;
                   }
                   
                   .header__navbar-title--no-pointer {
                       cursor: text;
                       color: var(--white-color);
                   }
                   
                   .header__qr {
                       background-color: var(--white-color);
                       width: 186px;
                       position: absolute;
                       left: 0;
                       top: 118%;
                       padding: 8px;
                       border-radius: 2px;
                       animation: fadein ease-in 0.3s;
                       display: none;
                       z-index: 2;
                       box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                   }
                   
                   .header__qr::before {
                       content: "";
                       display: block;
                       position: absolute;
                       width: 100%;
                       height: 20px;
                       top: -16px;
                       left: 0;
                   }
                   
                   .header_qr-img {
                       width: 100%;
                   }
                   
                   .header__qr-apps {
                       display: flex;
                       justify-content: space-around;
                   }
                   
                   .header__qr-download-img {
                       height: 1.5rem;
                   }
                   
                   .header__navbar-item--has-qr:hover .header__qr {
                       display: block;
                   }
                   
                   .header__noti {
                       z-index: 2;
                       position: absolute;
                       width: 404px;
                       top: 118%;
                       right: 0;
                       cursor: default;
                       border-radius: 2px;
                       border: 1px solid rgba(0, 0, 0, 0.2);
                       background-color: var(--white-color);
                       transform-origin: 90% top;
                       animation: Growthin ease-in 0.3s;
                       will-change: opacity, transform;
                       display: none;
                   }
                   
                   .header__noti::before {
                       content: "";
                       position: absolute;
                       border: solid;
                       border-width: 12px 15px;
                       border-color: transparent transparent var(--white-color) transparent;
                       right: 12px;
                       top: -22px;
                   }
                   
                   .header__noti::after {
                       content: "";
                       display: block;
                       position: absolute;
                       width: 90px;
                       height: 20px;
                       top: -14px;
                       right: 0;
                   }
                   
                   .header__noti--has-show:hover .header__noti {
                       display: block;
                   }
                   
                   .header__noti-header {
                       height: 40px;
                       background-color: var(--white-color);
                   }
                   
                   .header__noti-header h3 {
                       color: #666;
                       cursor: text;
                       text-align: center;
                       margin: 0 0 0 12px;
                       font-weight: 400;
                       font-size: 1.4rem;
                       line-height: 40px;
                   }
                   
                   .header__noti-list {
                       padding-left: 0;
                   }
                   
                   .header__noti-item {
                       display: flex;
                   }
                   
                   .header__noti-item:hover {
                       background-color: #f7f7f7;
                   }
                   
                   .header__noti-item--viewed {
                       background-color: rgba(238, 77, 45, 0.08);
                   }
                   
                   .header__noti-link {
                       display: flex;
                       width: 100%;
                       padding: 12px;
                       text-decoration: none;
                       ;
                   }
                   
                   .header__noti-img {
                       width: 48px;
                       object-fit: contain;
                   }
                   
                   .header__noti-info {
                       margin-left: 12px;
                   }
                   
                   .header__noti-name {
                       display: block;
                       font-size: 1.4rem;
                       color: var(--text-color);
                       font-weight: 400;
                   }
                   
                   .header__noti-descriotion {
                       display: block;
                       font-size: 1.2rem;
                       line-height: 1.2rem;
                       color: #756f6E;
                       margin-top: 4px;
                   }
                   
                   .header__noti-footer {
                       display: flex;
                   }
                   
                   .header__noti-footer-btn {
                       text-decoration: none;
                       background-color: var(--white-color);
                       color: var(--black-color);
                       padding: 8px 64px;
                       margin: auto;
                       font-size: 1.4rem;
                       font-weight: 400;
                   }
                   /* authen modal */
                   
                   .auth-form {
                       width: 500px;
                       border-radius: 5px;
                       background-color: var(--white-color);
                       overflow: hidden;
                   }
                   
                   .auth-form__container {
                       padding: 0 32px;
                   }
                   
                   .auth-form__header {
                       display: flex;
                       align-items: center;
                       justify-content: space-between;
                       padding: 0 12px;
                       margin-top: 10px;
                   }
                   
                   .auth-form__heading {
                       font-size: 2.2rem;
                       font-weight: 400;
                       color: var(--text-color);
                   }
                   
                   .auth-form__switch-btn {
                       font-size: 1.6rem;
                       font-weight: 400;
                       color: var(--primary-color);
                       cursor: pointer;
                   }
                   
                   .auth-form__form {
                       width: 100%;
                   }
                   
                   .auth-form__input {
                       width: 100%;
                       height: 40px;
                       margin-top: 16px;
                       padding: 0 12px;
                       font-size: 1.4rem;
                       border: 1px solid var(--border-color);
                       border-radius: 2px;
                       outline: none;
                   }
                   
                   .auth-form__input:focus {
                       border-color: #777;
                   }
                   
                   .auth-form__aside {
                       margin-top: 18px;
                   }
                   
                   .auth-form__policy-text {
                       font-size: 1.2rem;
                       line-height: 1.8rem;
                       text-align: center;
                   }
                   
                   .auth-form__text-link {
                       text-decoration: none;
                       color: var(--primary-color);
                   }
                   
                   .auth-form__controls {
                       display: flex;
                       justify-content: flex-end;
                       margin-top: 80px;
                   }
                   
                   .auth-form__controls-back {
                       background-color: var(--white-color);
                       margin-right: 8px;
                   }
                   
                   .auth-form__socials {
                       background-color: #f5f5f5;
                       padding: 12px 36px;
                       display: flex;
                       justify-content: space-between;
                       margin-top: 22px;
                   }
                   
                   .auth-form__socials-icon {
                       font-size: 1.8rem;
                   }
                   
                   .auth-form__socials--facebook {
                       color: var(--white-color);
                       background-color: #3A5A98;
                   }
                   
                   .auth-form__socials--facebook .auth-form__socials-icon {
                       color: var(--white-color);
                   }
                   
                   .auth-form__socials-google .auth-form__socials-icon {
                       color: var(--white-color);
                       background-color: black;
                   }
                   
                   .auth-form__socials-title {
                       margin: 0 24px;
                   }
                   
                   .auth-form__socials--google {
                       color: #666;
                       background-color: var(--white-color);
                   }
                   
                   .auth-form__help {
                       display: flex;
                       justify-content: flex-end;
                   }
                   
                   .auth-form__help-link {
                       text-decoration: none;
                       font-size: 1.4rem;
                       color: #939393;
                   }
                   
                   .auth-form__help-sparate {
                       display: block;
                       border: 1px solid #eaeaea;
                       height: 22px;
                       margin: -3px 16px 0px;
                   }
                   
                   .auth-form__help-forgot {
                       color: var(--primary-color);
                   }
                   
                   .header-with-search {
                       height: var(--header-with-search-height);
                       display: flex;
                       align-items: center;
                       margin: 0 8px;
                   }
                   /* .header__mobile-list {} */
                   /* .header__mobile-list-icon { */
                   
                   font-size: 2.6rem;
                   color: var(--white-color);
                   padding: 0 12px;
               }
               .header__mobile-search {}
               .header__mobile-search-icon {
                   font-size: 2.6rem;
                   color: var(--white-color);
               }
               .header__logo {
                   width: 200px;
               }
               .header__logo-link {
                   color: transparent;
                   text-decoration: none;
                   display: block;
                   line-height: 0;
               }
               .header__logo-img {
                   width: 150px;
                   color: var(--white-color);
               }
               .header__search {
                   flex: 1;
                   border-radius: 2px;
                   background-color: var(--white-color);
                   height: 40px;
                   display: flex;
                   align-items: center;
               }
               .header__cart {
                   width: 150px;
                   text-align: center;
                   z-index: 2;
               }
               .header__cart-wrap {
                   position: relative;
                   display: inline-block;
                   padding: 0 12px;
                   cursor: pointer;
               }
               .header__cart-icon {
                   font-size: 2.4rem;
                   color: var(--white-color);
                   margin-top: 6px;
               }
               .header__cart-list {
                   display: none;
                   cursor: default;
                   position: absolute;
                   top: calc(100% + 6px);
                   right: 0;
                   width: 400px;
                   background-color: #FDFDFD;
                   border-radius: 2px;
                   box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
                   transform-origin: 94% 0;
                   animation: Growthin ease-in-out 0.3s;
               }
               .header__cart-list::after {
                   content: "";
                   position: absolute;
                   border-style: solid;
                   border-width: 15px;
                   border-color: transparent transparent var(--white-color);
                   cursor: pointer;
                   right: 9px;
                   top: -25px;
               }
               .header__cart-wrap:hover .header__cart-list {
                   display: block;
               }
               .header__cart-list--no-cart {
                   padding: 24px 0;
               }
               .header__cart-no-cart-img {
                   width: 50%;
                   display: none;
               }
               .header__cart-list--no-cart .header__cart-no-cart-img,
               .header__cart-list--no-cart .header__cart-list-no-cart-msg {
                   margin-left: auto;
                   margin-right: auto;
                   display: block;
               }
               .header__cart-list-no-cart-msg {
                   display: none;
                   font-size: 1.4rem;
                   margin-top: 14px;
                   color: var(--text-color);
               }
               .header__cart-notice {
                   position: absolute;
                   padding: 1px 7px;
                   font-size: 1.4rem;
                   line-height: 1.4rem;
                   top: -5px;
                   right: -2px;
                   border: 2px solid #ee4d2d;
                   border-radius: 10px;
                   color: var(--primary-color);
                   background-color: var(--white-color);
               }
               .header__cart-heading {
                   text-align: left;
                   margin: 8px 0 8px 12px;
                   color: #999;
                   font-size: 1.4rem;
                   font-weight: 400;
               }
               .header__cart-list-item {
                   padding-left: 0;
                   list-style: none;
                   max-height: 55vh;
                   overflow-y: auto;
               }
               .header__cart-item {
                   display: flex;
                   align-items: center;
               }
               .header__cart-item:hover {
                   background-color: #f8f8f8;
               }
               .header__cart-img {
                   width: 42px;
                   height: 42px;
                   margin: 12px;
                   border: 1px solid #e8e8e8;
               }
               .header__cart-item-info {
                   width: 100%;
                   margin-right: 12px;
               }
               .header__cart-item-head {
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
               }
               .header__cart-item-name {
                   font-size: 1.4rem;
                   font-weight: 450;
                   color: var(--text-color);
                   margin: 0;
                   max-width: 200px;
                   text-overflow: ellipsis;
                   white-space: nowrap;
                   overflow: hidden;
               }
               .header__cart-item-price {
                   font-size: 1.4rem;
                   font-weight: 400;
                   color: var(--primary-color);
               }
               .header__cart-item-multiply {
                   font-size: 0.9rem;
                   margin: 0 4px;
                   color: #757575;
               }
               .header__cart-item-qnt {
                   font-size: 1.2rem;
                   color: #757575;
               }
               .header__cart-item-body {
                   display: flex;
                   justify-content: space-between;
                   margin-top: 8px;
               }
               .header__cart-item-description {
                   color: #757575;
                   font-size: 1.2rem;
                   font-weight: 300;
               }
               .header__cart-item-remove {
                   color: var(--text-color);
                   font-size: 1.4rem;
                   font-weight: 300;
               }
               .header__cart-item-remove:hover {
                   color: var(--primary-color);
                   cursor: pointer;
               }
               .header__cart-view-cart {
                   float: right;
                   margin: 0 12px 12px 0;
               }
               .header__cart-view-cart:hover {
                   background-color: #f05d41;
               }
               /*  */
               /* END Cart */
               .header__search-input-wrap {
                   flex: 1;
                   height: 100%;
                   position: relative;
               }
               .header__search-input {
                   width: 100%;
                   height: 100%;
                   padding: 0 16px;
                   font-size: 1.5rem;
                   color: var(--text-color);
                   border: none;
                   outline: none;
                   border-radius: 2px;
               }
               .header__search-select {
                   position: relative;
                   border-left: 1px solid #e8e8e8;
                   padding-left: 16px;
                   cursor: pointer;
               }
               .header__search-select-label {
                   font-size: 1.4rem;
                   color: var(--text-color);
               }
               .header__search-select-icon {
                   position: relative;
                   font-size: 1.2rem;
                   color: #4a4a4a;
                   margin: 0 16px 0 8px;
               }
               .header__search-btn {
                   background-color: var(--primary-color);
                   border: none;
                   height: 34px;
                   width: 60px;
                   border-radius: 2px;
                   margin-right: 3px;
                   outline: none;
               }
               .header__search-btn:hover {
                   background-color: #e76f57;
                   cursor: pointer;
               }
               .header__search-btn-icon {
                   font-size: 1.4rem;
                   color: var(--white-color);
               }
               .header__search-select:hover .header__search-option {
                   display: block;
               }
               .header__search-option {
                   z-index: 1;
                   position: absolute;
                   right: 0;
                   top: calc(100% - 3px);
                   width: 120px;
                   margin-top: 16px;
                   list-style: none;
                   box-shadow: 0 1px 2px #cec8c8;
                   padding-left: 0;
                   display: none;
                   animation: fadein ease-in 0.2s;
               }
               .header__search-option::after {
                   content: "";
                   position: absolute;
                   display: block;
                   width: 100%;
                   height: 15px;
                   left: 0;
                   top: -15px;
                   background-color: transparent;
               }
               .header__search-option-item {
                   background-color: var(--white-color);
                   border-radius: 2px;
                   padding: 8px 8px;
               }
               .header__search-option-item:first-child {
                   border-top-left-radius: 2px;
                   border-top-right-radius: 2px;
               }
               .header__search-option-item:last-child {
                   border-bottom-left-radius: 2px;
                   border-bottom-right-radius: 2px;
               }
               .header__search-option-item:hover {
                   background-color: #fafafa;
               }
               .header__search-option-item span {
                   font-size: 1.4rem;
                   color: var(--text-color);
                   margin-left: 4px;
               }
               .header__search-option-item i {
                   font-size: 1.2rem;
                   color: var(--primary-color);
                   margin-left: 12px;
                   display: none;
               }
               .header__search-option-item--active i {
                   display: inline-block;
               }
               .header__search-input:focus~.header__search-history {
                   display: block;
               }
               .header__search-history {
                   position: absolute;
                   top: calc(100% + 2px);
                   left: 0;
                   width: calc(100% - 16px);
                   background-color: var(--white-color);
                   border-radius: 2px;
                   box-shadow: 0 1px 5px #e0e0e0;
                   display: none;
                   overflow: hidden;
                   z-index: 1;
               }
               .header__search-history-heading {
                   margin: 6px 12px;
                   font-size: 1.4rem;
                   color: #999;
                   font-weight: 400;
                   cursor: text;
               }
               .header__search-history-list {
                   padding-left: 0;
                   list-style: none;
                   margin: 6px 0 0;
               }
               .header__search-history-item {
                   height: 38px;
                   padding: 0 12px;
               }
               .header__search-history-item:hover {
                   background-color: #fafafa;
               }
               .header__search-history-item a {
                   text-decoration: none;
                   font-size: 1.4rem;
                   line-height: 38px;
                   color: var(--text-color);
                   display: block;
               }
               .header__sort-bar {
                   position: fixed;
                   top: var(--header-height);
                   left: 0;
                   right: 0;
                   height: var(--header-sort-bar-height);
                   background-color: var(--white-color);
                   list-style: none;
                   margin: 0;
                   padding-left: 0;
                   border-top: 1px solid #e5e5e5;
                   border-bottom: 1px solid #e5e5e5;
                   display: none;
               }
               .header__sort-item {
                   /* height: 100%; */
                   
                   flex: 1;
               }
               .header__sort-link {
                   text-decoration: none;
                   color: var(--text-color);
                   font-size: 1.4rem;
                   display: block;
                   height: 100%;
                   text-align: center;
                   line-height: var(--header-sort-bar-height);
                   position: relative;
               }
               .header__sort-link::before {
                   content: "";
                   position: absolute;
                   top: 50%;
                   left: 0;
                   height: 60%;
                   border-left: 1px solid #e5e5e5;
                   transform: translateY(-50%);
               }
               .header__sort-item--active .header__sort-link {
                   color: var(--primary-color);
               }
               .header__sort-item:first-child .header__sort-link::before {
                   display: none;
               }
               .app__container {
                   background-color: #f5f5f5;
               }
               .app__content {
                   padding-top: 24px;
               }
               .category {
                   background-color: var(--white-color);
                   border-radius: 2px;
               }
               .category-heading {
                   color: var(--text-color);
                   font-size: 1.7rem;
                   padding: 16px 16px;
                   margin-top: 0;
               }
               .ategory-heading-icon {
                   font-size: 1.4rem;
               }
               .category-list {
                   padding: 0 0 8px 0;
                   list-style: none;
                   margin-left: 8px;
               }
               .category-item--active .category-item__link {
                   color: var(--primary-color);
               }
               .category-item--active .category-item__link::before {
                   content: '';
                   position: absolute;
                   border: 5px solid;
                   border-color: transparent transparent transparent var(--primary-color);
                   top: 50%;
                   left: 6px;
                   transform: translateY(calc(-50% - 1px));
               }
               .category-item__link {
                   position: relative;
                   display: block;
                   padding: 8px 16px;
                   font-size: 1.6rem;
                   color: var(--text-color);
                   text-decoration: none;
                   transition: right linear 0.1s;
                   right: 0;
               }
               .category-item__link:hover {
                   right: -4px;
                   color: var(--primary-color);
               }
               /* home shop  */
               .home-filter {
                   display: flex;
                   align-items: center;
                   background-color: rgba(0, 0, 0, .03);
                   padding: 12px 22px;
                   border-radius: 2px;
               }
               .home-filter__label {
                   font-size: 1.4rem;
                   color: #555;
                   margin-right: 16px;
               }
               .home-filter__btn {
                   margin-right: 12px;
                   background-color: var(--white-color);
                   min-width: 90px;
               }
               .home-filter__page {
                   display: flex;
                   align-items: center;
                   margin-left: auto;
               }
               .home-filter__page-num {
                   font-size: 1.4rem;
                   color: var(--text-color);
                   margin-right: 22px;
               }
               .home-filter__page-current {
                   color: var(--primary-color);
               }
               .home-filter__page-control {
                   border-radius: 2px;
                   overflow: hidden;
                   display: flex;
                   width: 70px;
                   height: 33px;
               }
               .home-filter__page-btn {
                   flex: 1;
                   display: flex;
                   text-decoration: none;
                   width: 35px;
                   height: 33px;
                   background-color: #EDEDED;
                   border: 1px solid rgba(0, 0, 0, .09);
                   border-radius: 2px;
               }
               .home-filter__page-btn:hover {
                   background-color: var(--white-color);
                   border-radius: 2px;
               }
               .home-filter__page-btn--disabled {
                   background-color: #f9f9f9;
                   cursor: default;
               }
               .home-filter__page-btn--disabled .home-filter__page-icon {
                   color: #ccc;
               }
               .home-filter__page-btn:first-child {
                   border-right: 1px solid #eee;
               }
               .home-filter__page-icon {
                   margin: auto;
                   font-size: 1.4rem;
                   color: #555;
               }
               /* product item */
               .home-product {
                   margin-bottom: 10px;
               }
               .home-product-item {
                   display: block;
                   text-decoration: none;
                   background-color: var(--white-color);
                   margin-top: 10px;
                   position: relative;
                   border-bottom-left-radius: 2px;
                   border-bottom-right-radius: 2px;
                   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                   transition: transform linear 0.1s;
                   will-change: transform;
               }
               .home-product-item:hover {
                   box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
                   transform: translateY(-0.2rem);
                   z-index: 1;
               }
               .home-product-item__img {
                   padding-top: 100%;
                   background-repeat: no-repeat;
                   background-size: contain;
                   background-position: center;
                   border-top-left-radius: 2px;
                   border-top-right-radius: 2px;
               }
               .home-product-item__name {
                   font-size: 1.2rem;
                   font-weight: 400;
                   line-height: 1.8rem;
                   height: 3.6rem;
                   overflow: hidden;
                   margin: 10px 10px 8px;
                   color: rgba(0, 0, 0, .87);
                   display: block;
                   display: -webkit-box;
                   -webkit-box-orient: vertical;
                   -webkit-line-clamp: 2;
               }
               .home-product-item__price {
                   align-items: baseline;
                   flex-wrap: wrap;
               }
               .home-product-item__price-old {
                   color: #666;
                   margin-left: 10px;
                   font-size: 1.4rem;
                   text-decoration: line-through;
                   align-items: baseline;
               }
               .home-product-item__price-current {
                   color: var(--primary-color);
                   font-size: 1.4rem;
                   margin-left: 10px;
               }
               .home-product-item__action {
                   display: flex;
                   justify-content: space-between;
                   margin: 8px 8px 0;
               }
               .home-product-item__like {
                   font-size: 1.3rem;
               }
               .home-product-item__like--liked .home-product-item__like-icon-fill {
                   display: inline-block;
               }
               .home-product-item__like--liked .home-product-item__like-icon-empty {
                   display: none;
               }
               i.home-product-item__like-icon-fill {
                   color: var(--primary-color);
                   display: none;
               }
               .home-product-item__rating {
                   font-size: 0.9rem;
                   color: #d5d5d5;
                   margin: -1px 0 0 auto;
               }
               .home-product-item__star--gold {
                   color: var(--star-gold-color);
               }
               .home-product-item__sold {
                   color: var(--text-color);
                   font-size: 1.2rem;
                   margin-left: 0.4rem;
               }
               .home-product-item__origin {
                   display: flex;
                   justify-content: space-between;
                   margin: 8px 10px 0;
                   color: #595959;
                   font-size: 1.2rem;
                   font-weight: 300;
               }
               /* .home-product-item__brand {} */
               /* .home-product-item__origin-name {} */
               .home-product-item__favourite {
                   position: absolute;
                   top: 10px;
                   left: -4px;
                   color: var(--primary-color);
                   background-color: currentColor;
                   font-size: 1.2rem;
                   font-weight: 500;
                   padding-right: 4px;
                   border-top-right-radius: 3px;
                   border-bottom-right-radius: 3px;
               }
               .home-product-item__favourite::after {
                   content: "";
                   position: absolute;
                   border-top: 5px solid currentColor;
                   border-left: 5px solid transparent;
                   left: 0;
                   bottom: -5px;
                   filter: brightness(40%);
               }
               .home-product-item__favourite span {
                   color: var(--white-color);
               }
               .home-product-item__favourite i {
                   color: var(--white-color);
                   font-size: 1.2rem;
                   margin: 0 3px 0 5px;
               }
               .home-product-item__sale-off {
                   position: absolute;
                   top: 0;
                   right: 0;
                   width: 40px;
                   height: 36px;
                   color: rgba(255, 216, 64, 0.95);
                   background-color: currentColor;
                   padding: 2px;
                   text-align: center;
                   border-top-right-radius: 2px;
               }
               .home-product-item__sale-off::after {
                   content: "";
                   position: absolute;
                   border-width: 0 20px 5px;
                   border-style: solid;
                   border-color: transparent currentColor transparent currentColor;
                   right: 0px;
                   bottom: -5px;
               }
               .home-product-item__sale-off-percent {
                   color: #ee4d2d;
                   font-weight: 600;
                   font-size: 1.3rem;
               }
               .home-product-item__sale-off-label {
                   color: var(--white-color);
                   font-weight: 600;
                   font-size: 1.4rem;
               }
               .home-product__pagination {
                   margin: 48px;
               }
               .footer {
                   border-top: 4px solid var(--primary-color);
                   background-color: var(--white-color);
               }
               .footer__heading {
                   font-size: 1.4rem;
                   text-transform: uppercase;
                   color: var(--text-color);
               }
               .footer-list {
                   padding-left: 0;
                   list-style: none;
               }
               .footer-list__pay {
                   display: flex;
                   flex-wrap: wrap;
               }
               .footer-item__pay {
                   width: 60px;
                   height: 30px;
                   margin-bottom: 0.5rem;
                   margin-right: 0.5rem;
                   padding: 0.25rem;
                   background-color: #fff;
                   box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
                   box-sizing: border-box;
                   overflow: hidden;
                   border-radius: 0.125rem;
               }
               .footer-item__img-link {
                   margin: auto;
               }
               .footer-item__link {
                   text-decoration: none;
                   font-size: 1.2rem;
                   color: #737373;
                   padding: 2px 0;
                   margin-bottom: 10px;
                   display: flex;
                   align-items: center;
               }
               .footer-item__link:hover {
                   color: var(--primary-color);
               }
               .footer-item__icon {
                   font-size: 1.6rem;
                   color: #737373;
                   margin: -1px 8px 0 0;
               }
               .footer__download {
                   display: flex;
               }
               .footer__download-qr {
                   width: 80px;
                   object-fit: contain;
                   border: 1px solid var(--border-color);
               }
               .footer__download-apps {
                   margin-left: 14px;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
               }
               .footer__download-app-img {
                   width: 72px;
               }
               .footer__sparate-grid {
                   padding-bottom: 3rem;
                   margin-top: 30px;
                   border-bottom: 1px solid rgba(0, 0, 0, .09);
               }
               .footer__sparate {
                   padding-bottom: 30px;
               }
               .footer__grid-color {
                   padding-top: 20px;
                   background-color: #fbfbfb;
               }