:root {
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* ============================================ */


/* ============================================ */


/* ============================================ */


/* ============================================ */


/*==========================================
PRE LOADER 
==========================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    /* user-drag: none; */
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn.extra-width {
    padding: 13px 40px;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}


/* form */

.form {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    color: #000;
    width: 100%;
}

.form:focus {
    border-color: #d6962c;
}

.form--textarea {
    height: auto;
}


/* end form */

h1,
h2,
h3 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}


/* h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
    font-family: 'Pacifico', cursive;
} */

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
    text-transform: uppercase;
    color: #3879D9;
}

h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.375rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.875rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
    font-family: 'Pacifico', cursive;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

p:last-child {
    margin-bottom: 0px;
}

.wrapitem {
    flex-wrap: wrap !important;
}


/*.home-wrap h1,*/

.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}

.text {
    color: #333333;
}

.colorstext {
    color: #f56363;
}

.coloricon i {
    color: #f56363;
}

.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.colorsbg .separator2 {
    border: 2px solid;
}

.colorsbg .separator_wrap::after,
.colorsbg .separator_wrap::before {
    background-color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}

.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


/* ============================================ */


/* ============================================ */


/* ============================================ */


/* ============================================ */

.item-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.overlay {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    left: 0;
    right: 0;
}

.colum__widget {
    padding-top: 50px;
    padding-bottom: 30px;
}

.content__title {
    padding-top: 100px;
    padding-bottom: 50px;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade-in linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 10;
    animation: growth linear 0.1s;
}


/*  */

.btnorder {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btnorder.btn--primary {
    color: var(--white-color);
    background-color: var( --primary-color);
}


/* btn style */

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn--primary {
    background-color: #E7A331;
    color: #ffffff;
    border: 2px solid #E7A331;
    text-transform: uppercase;
    border-radius: 4px;
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.top--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.bottom--separate {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}


/* selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.select-input::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: transparent;
    position: absolute;
    top: 28px;
    left: 0;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 15px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #f05d40;
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item__icon {
    font-size: 1rem;
    color: #000;
}

button.btnbooking {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    width: 100px;
    border: 1px solid #fff;
    text-transform: none;
    transition: .6s;
    color: #fff;
    display: flex;
    background: transparent;
    line-height: 1.5rem;
    justify-content: center;
    cursor: pointer;
}

button.btnbooking:hover {
    background: #d6962c;
    color: #fff;
}