@media (min-width: 1023px) {
    .hide-on-pc {
        display: none;
    }
}


/* Mobile & Tablet */

@media (max-width:1023px) {
     :root {
        --header-height: 70px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
}


/* Tablet - Pc low  */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    /* .header__logo {
        display: none;
    } */
    .menu__images__overlay {
        width: 85%;
        height: 85%;
        padding: 0;
    }
    .single__menu__text:hover .menu__images__overlay {
        top: 10px;
    }
    .menu__images__overlay h6 {
        font-size: 1rem;
        line-height: 2rem;
    }
    .menu__images__overlay p.food-price {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__menu__bg {
        background: rgba(0, 0, 0, .9);
        /* height: 380px; */
    }
    .menu__bg__content {
        position: relative;
    }
    .menu__bg--list {
        position: absolute;
        display: none;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
    }
    .menu__bg--list li {
        justify-content: center;
        line-height: 20px;
    }
    .navbar__logo {
        display: none;
    }
    .call__text--link {
        margin: 0;
    }
    .header__social {
        display: none;
    }
}