html,
body {
    background-color: #1E2E3B;
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}


/*-------------------- header__navbar ------------------*/

.header__navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
}

.navbar__container {
    position: relative;
    background: #fff;
}

.navbar__menu {
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    line-height: 32px;
    height: 32px;
}

.navbar__menu .call__text--icon {
    color: #e7a331;
    font-size: 18px;
    margin-right: 10px;
}

.call__text--link {
    text-decoration: none;
    color: #666666;
    font-weight: 400;
    margin: 0 0 0 15px;
    padding: 5px;
}

.header__social {
    position: relative;
}

.header__social--icon {
    color: #e7a331;
    font-size: 1.8rem;
    padding: 5px;
}


/* ----------------------Cart-------------------------- */

#cart-icon {
    font-size: 1.3rem;
    cursor: pointer;
    padding-top: 5px;
}

.cart-icon {
    font-size: 1.1rem;
    color: #e7a331;
    padding: 6px 12px;
    line-height: 32px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    color: #000;
    top: -1px;
    right: -5px;
    padding: 3px;
    height: 20px;
    width: 20px;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
    z-index: 99;
}

.food-img {
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    z-index: 100;
}

.cart-active {
    right: 0;
    transition: 0.5s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.price-box {
    display: flex;
    justify-content: space-between;
}

.food-title {
    margin: 13.5px 0;
}

.cart-food-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ff6348;
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    padding-top: 10px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    padding: 12px 20px;
    background-color: #2f3542;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}


/*-------------------- order ------------------*/

.form__order--title {
    font-family: 'roboto', sans-serif;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/*-------------------- header menu ------------------*/

.header__menu__bg {
    background: rgba(0, 0, 0, .45);
    height: 80px;
}

.menu__bg__content {
    display: flex;
    align-items: center;
    height: 80px;
}


/*-------------------- menubar ------------------*/

.bar--icon {
    display: flex;
    justify-content: right;
}

.bar--icon .bar--icon__item {
    color: #fff;
    margin-right: 20px;
    font-size: 25px;
    padding: 3px;
    top: 50%;
    position: relative;
}

.bar--icon__item:hover {
    color: #E7A331;
}


/*-------------------- headerlogo ------------------*/

.header__logo {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.header__logo.img_logo {
    position: absolute;
    top: -15px;
    width: 22%;
}

.menu__bg--list {
    display: flex;
    justify-content: right;
}

.menu__bg--list li {
    display: flex;
    align-items: center;
}

.menu__bg--item {
    font-weight: 400;
    padding: 15px;
    color: #fff;
}

.menu__bg--item:focus {
    color: #da9b31;
}

.menu__bg--booking {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #e7a331 !important;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 8px;
}


/*-------------------- slider ------------------ */

.slider {
    width: 100%;
    background: url(../images/bannerbg.jpg) center center no-repeat;
    background-size: cover;
}

.slider__container {
    display: flex;
    width: 100%;
}

.slider__content {
    padding: 250px 0px 225px 0px;
    width: 70%;
    margin: 0 auto;
    color: #fff;
}

.slider__content__text {
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
    line-height: 6rem;
    margin: 0px 0px 60px 0px;
}


/*-------------------- abouts ------------------ */

.abouts {
    background: url(../images/abtbg.jpg) no-repeat center top scroll;
    background-size: cover;
    width: 100%;
}

.abouts__container {
    padding: 120px 0;
}

.abouts--content__text p {
    line-height: 1.5rem;
    font-size: 1.4rem;
}


/*-------------------- features ------------------ */

.features {
    background: url(../images/ftbg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
}

.features__container {
    padding: 120px 0px;
    display: inline-block;
}

.features__content {
    background: url(../images/ft.png) right center no-repeat;
    padding: 40px;
    overflow: hidden;
}

.features__text {
    background: url(../images/textbg.jpg) center center no-repeat;
    padding: 30px;
    background-size: cover
}


/*-------------------- menu css ------------------ */

.menu {
    background: url(../images/portfoliobg.jpg) center top no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.menu__container {
    padding-bottom: 120px;
}

.menu img {
    padding-bottom: 8px;
    width: 100%;
    height: 100%;
}

.single__menu__text {
    display: inline-block;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.single__menu__text img {
    width: 100%;
}

.single__menu__text:hover .menu__images__overlay {
    top: 28px;
    left: 14px;
}

.menu__images__overlay {
    width: 90%;
    height: 80%;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
    top: -100%;
    left: 14px;
    position: absolute;
    transition: .6s;
}

.menu__images__overlay h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3125rem;
    line-height: 2rem;
}

.menu__images__overlay p.food-price {
    font-size: 2.5725rem;
    color: #fff;
    line-height: 3rem;
}


/*-------------------- combo css ------------------ */

.combo {
    background: url(../images/newsbg.jpg) no-repeat center top scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    padding-bottom: 120px;
}

.combo__container .content__title {
    color: #fff;
}

.combo__one {
    background: url(../images/newsone.jpg) left center no-repeat;
    padding: 30px;
    overflow: hidden;
    margin-top: 60px;
}

.combo__two {
    background: url(../images/newstwo.jpg) right center no-repeat;
    padding: 30px;
    overflow: hidden;
    margin-top: 60px;
}

.combo__three {
    background: url(../images/newsthree.jpg) left center no-repeat;
    padding: 30px;
    overflow: hidden;
    margin-top: 60px;
}


/*-------------------- mobaileapps ------------------ */

.mobaileapps {
    background: url(../images/appsbg.jpg) top center no-repeat scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mobaileapps__container {
    padding: 80px 0px;
    color: #fff;
    overflow: hidden;
}

.mobaileapps__text {
    margin-left: -10px;
    margin-top: 120px;
}

.mobaileapps__text h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 5rem;
}

.mobaileapps__text h1 span {
    font-size: 1.8rem;
    font-weight: 400;
    font-style: oblique;
    color: rgb(231, 163, 49);
    display: block;
}

.mobaileapps__text a {
    margin-top: 50px;
    margin-left: 10px;
    display: inline-block;
}


/*-------------------- footer__content ------------------ */

.footer__content {
    color: #fff;
}

.footer__widget {
    background: url(../images/footerbg.jpg) center top no-repeat scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.footer__address {
    font-size: 1.875rem;
    font-family: 'Pacifico', cursive;
}

.footer__address__contact {
    margin-top: 15px;
}

.address__contact__link {
    color: #5787b4;
}

.footer__socail__icon {
    margin-top: 40px;
}

.footer__socail__icon a {
    padding: 5px;
}

.footer__socail__icon a i {
    font-size: 25px;
    color: #e7a331;
}

.colum__widget__content p {
    margin-top: 40px;
    font-weight: 400;
    line-height: 1.5rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.colum__widget__content p span {
    display: block;
}

.open__day {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 600;
}

.form__widget {
    margin-bottom: 15px;
}

.form__feedback {
    max-width: 90%;
    background: #323232;
    color: #cfc8c8;
}

.form__feedback--textarea {
    height: auto;
}


/* bookingform */

.section-center {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

.booking.open {
    display: block;
}

.booking {
    display: none;
}

#booking {
    font-family: 'Raleway', sans-serif;
}

.booking-form {
    position: relative;
    max-width: 642px;
    width: 100%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
    background-image: url('../images/background.jpg');
    background-size: cover;
    border-radius: 5px;
    z-index: 20;
}

.booking-form::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.booking-form .form-header {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.booking-form .form-header h1 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 42px;
    margin: 0px;
    color: #fff;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-control {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 60px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
    box-shadow: 0px 0px 0px 2px #ff8846;
}

.booking-form input[type="datetime-local"].form-control {
    padding-top: 16px;
}

.booking-form input[type="datetime-local"].form-control:invalid {
    color: rgba(255, 255, 255, 0.5);
}

.booking-form input[type="datetime-local"].form-control+.form-label {
    opacity: 1;
    top: 10px;
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control:invalid {
    color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
    content: '';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.booking-form select.form-control option {
    color: #000;
}

.booking-form .form-label {
    position: absolute;
    top: -10px;
    left: 25px;
    opacity: 0;
    color: #ff8846;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    height: 15px;
    line-height: 15px;
    transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-control {
    padding-top: 16px;
}

.booking-form .form-group.input-not-empty .form-label {
    opacity: 1;
    top: 10px;
}

.booking-form .submit--btn {
    color: #fff;
    background-color: #e35e0a;
    font-weight: 700;
    height: 60px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.3px;
    transition: 0.2s all;
}

.booking-form .submit--btn:hover,
.booking-form .submit--btn:focus {
    opacity: 0.9;
}


/* ---------------------------Endbookingform----------------------------- */


/* orderform */


/* orderform */

.submit--btn {
    color: #fff;
    background-color: #e35e0a;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    transition: 0.2s all;
    cursor: pointer;
}

.footer {
    background: #000;
}

.footer .copyright p {
    padding: 25px;
    color: #fff;
}

.footer .copyright p i {
    padding: 0px 10px;
    color: #ff0000;
}

.footer .copyright p a {
    padding: 0px 10px;
    color: green;
}

.scrollup {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}


/*  */


/* animate element */


/*  */

.header__logo.img_logo:focus {
    animation-name: hinge;
    animation-duration: 2s;
    opacity: 0;
}

.tellphone:hover {
    animation-name: flash;
    animation-duration: 0.7s;
}

.menu__bg--list li:hover {
    animation-name: rubberBand;
    animation-duration: 1s;
}

.slider__content h1:hover {
    animation-name: tada;
    animation-duration: 1s;
}

.phoneimg:focus {
    animation-name: shakeX;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.phonelinkimg:hover {
    animation-name: shakeY;
    animation-duration: 1s;
}

.fb--btn:focus {
    animation-name: bounceOutRight;
    animation-duration: 2s;
}

.booking--btn:active {
    animation-name: bounceOut;
    animation-duration: 1s;
}

.address__contact__link:hover {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: 99;
}

.footer__socail__icon a i:hover {
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: 99;
}


/* ---------------- */


/* ---------------- */


/* add cart test */


/*------------------*/


/*------------------*/

.cd-cart--open .cd-cart__checkout em {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: transform .2s .3s, padding .2s 0s;
    transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s
}

.cd-cart--open .cd-cart__checkout:hover em {
    padding-right: 30px
}

.cd-cart--open .cd-cart__checkout:hover .icon {
    opacity: 1
}

@-webkit-keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0)
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%)
    }
}

@keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0)
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%)
    }
}

@-webkit-keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%)
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%)
    }
}

@keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%)
    }
    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%)
    }
}

@-webkit-keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 62px
    }
    100% {
        padding-top: 0px
    }
}

@keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 62px
    }
    100% {
        padding-top: 0px
    }
}

@-webkit-keyframes cd-item-move-up {
    0% {
        padding-top: 102px
    }
    100% {
        padding-top: 0px
    }
}

@keyframes cd-item-move-up {
    0% {
        padding-top: 102px
    }
    100% {
        padding-top: 0px
    }
}

@-webkit-keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px
    }
    100% {
        padding-top: 62px
    }
}

@keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px
    }
    100% {
        padding-top: 62px
    }
}

@-webkit-keyframes cd-item-move-down {
    0% {
        padding-top: 0px
    }
    100% {
        padding-top: 102px
    }
}

@keyframes cd-item-move-down {
    0% {
        padding-top: 0px
    }
    100% {
        padding-top: 102px
    }
}

@-webkit-keyframes cd-item-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0
    }
}

@keyframes cd-item-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0
    }
}

@-webkit-keyframes cd-item-slide-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    0% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0
    }
}

@keyframes cd-item-slide-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    0% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0
    }
}

body {
    background-color: hsl(192, 15%, 94%);
    background-color: var(--cd-color-4)
}

.cd-main h1 {
    color: hsl(210, 31%, 24%);
    color: var(--cd-color-1)
}

.cd-add-to-cart,
.cd-article-link {
    display: inline-block;
    padding: 0.75em 1.25em;
    padding: var(--space-sm) var(--space-md);
    border-radius: 50em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    text-decoration: none;
    font-size: 0.83333em;
    font-size: var(--text-sm);
    transition: all .2s
}


/* end */

.iphone {
    position: relative;
}

.phoneimg {
    opacity: 1;
}

.iphone__QR {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 98.3%;
}

.iphone:hover .phoneimg {
    opacity: 0.5;
}

.iphone:hover .iphone__QR {
    opacity: 1;
}